[Unit]
Description=LCD Renewable share agent
After=multi-user.target
  
[Service]
ExecStart=[directory]/start_logger.sh                              
WorkingDirectory=[directory]
User=[user]
[Install]
WantedBy=multi-user.target
